<section class="hero">
  <div class="hero-content">
    <h1>LOGE 316</h1>
    <p>COIFFERIE</p>
    <a (click)="toServices()" class="btn">Découvrez nos services</a>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2>À PROPOS</h2>
    <p>
      Loge 316 vous offre une expérience en salon avec une équipe de coiffeurs et coloristes passionnés.
      Nous réalisons des coupes pratiques exécutées avec précision et des colorations adaptées à votre teint
      qui vous demanderont que peu d’entretien. Nous vous accueillons à l'une de nos deux adresses soit sur
      l’avenue Duluth au cœur du Plateau Mont-Royal et sur la Rue Saint-Hubert à Rosemont La-Petite-Patrie.
      Venez rencontrer l'un(e) de nos professionnels à l’écoute de vos besoins.
    </p>
  </div>
</section>

<section class="appointment-section">
  <div class="appointment-container">
      <div class="appointment-text">
          <h2>Nous simplifions votre prise de rendez-vous.</h2>
      </div>
      <div class="appointment-options">
          <div class="option">
              <h3>Rendez-vous en ligne</h3>
              <p>Consultez notre horaire en tout temps afin de réserver votre prochain service. Vous ne trouvez pas vos disponibilités ?
                  Inscrivez-vous à la liste d’attente pour être avisé lorsqu’un créneau correspondant à vos disponibilités se libère.</p>
              <button class="btn" (click)="prendreRdv()">Réservez</button>
          </div>
          <div class="option">
              <h3>Rendez-vous téléphonique</h3>
              <p>Vous souhaitez discuter avec un professionnel pour votre prise de rendez-vous. Notre ligne téléphonique est ouverte sur nos heures d’ouverture. 
                  En période d’achalandage, les retours d’appels sont effectués en moins de 60 minutes.</p>
              <button class="btn" (click)="toContact()">Appelez-nous</button>
          </div>
      </div>
  </div>
</section>

<section class="biosthetique">
  <div class="container">
    <div class="content">
      <div class="text">
        <h2>Découvrez La Biosthétique</h2>
        <p>
          Nous sommes fiers d'œuvrer avec des produits de haute qualité.
          Les résultats se ressentent dès la première application de coloration
          et votre cheveu retrouvera une brillance et une luminosité pour des résultats longue durée.
        </p>
        <p>
          En plus de vous offrir des colorations de la meilleure qualité, La Biosthétique propose des solutions
          à votre cuir chevelu. Que ce soit pour une chute de cheveux, un cuir chevelu sec ou sensible, des problèmes
          de pellicules saisonnières, les méthodes de La Biosthétique sont offertes en soin express lors de votre
          prestation à la Loge 316. Demandez à votre coiffeur pour tout conseil sur votre routine quotidienne.
        </p>
      </div>
      <div class="image">
        <img src="assets/images/biosthetique.jpg" alt="Biosthétique">
      </div>
    </div>
  </div>
</section>

